.CustomerSlideshow-container {
    grid-area: customer-slides;
}

.BarberShopImage {
    grid-area: shop-image;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Recommendations {
    grid-area: recommendations;
    padding: 20px;
    text-align: right;
}

.Tips {
    grid-area: tips;
    padding: 20px;
    text-align: right;
}

#HomePageGrid {
    display: grid;
    grid-template-areas:
    'header header header header header header header'
    'sub-header sub-header sub-header sub-header sub-header sub-header sub-header'
    'shop-image shop-image shop-image shop-image shop-image shop-image shop-image'
    'customer-slides customer-slides customer-slides customer-slides customer-slides customer-slides customer-slides'
    'recommendations recommendations recommendations recommendations recommendations recommendations recommendations'
    'tips tips tips tips tips tips tips'
    'footer footer footer footer footer footer footer'
}

.CustomerSlides {
    display: none;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ListTitle {
    font-size: 40px;
}