{#
Base page blocks:
- head
-- page_head
-- page_head_meta
--- page_head_meta_extra
-- page_head_css

- body
-- page_body_content
--- page_body_header
---- page_body_header_content
----- page_body_header_content__main_menu
------ page_body_header_content__main_menu_content
------- page_body_header_content__main_menu_content_links
--- page_body_main
---- page_body_main_content
--- page_body_footer
---- page_body_footer_content
-- page_body_js
#}
<html lang="he">
<head>
    {% block page_head %}
        {# Title #}
        <title>Sefi Hasapar</title>

        {# Meta tags #}
        {% block page_head_meta %}
            <base href="/"/>
            <meta charset="UTF-8"/>
            <meta name="author" content="Web Group 1"/>
            <meta name="description" content="Sefi Hasapar Website"/>
            {% block page_head_meta_extra %}{% endblock %}
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global_style.css') }}"/>
    {% endblock %}
    {% block page_head_css %}{% endblock %}
</head>
<body>
{% block page_body_content %}

    {# Header #}
    {% block page_body_header %}
        <!-- Headers -->
        <div id="HomePageGrid">
        <header class="Headers">
            <div class="Header">
                <div class="RightHeader">
                    <img src="{{ url_for('static', filename='media/img/barber_shop_logo.png') }}" height="60px"
                         width="60px" alt="ShopLogo">
                </div>
            </div>
            <div class="Header">
                <div class="RightHeader" id="SefiHasapar">
                    מספרת ״ספי הספר״
                </div>
            </div>
            <div id="cart-info"
                 class="Header RightHeader nav-info align-items-center cart-info d-flex justify-content-between mx-lg-5">
                <span class="cart-info__icon mr-lg-3"><i class="fas fa-shopping-cart"></i></span>
                <p class="mb-0 text-capitalize"><span id="item-count"> 0 </span> חפצים <span
                        class="item-total">0 ₪</span>
                </p>
            </div>
            <div class="Header RightHeader" id="Welcome">
                {% if user %}
                    ברוכית הבאים {{ user }}
                {% else %}
                    ברוכים הבאים אורח
                {% endif %}
            </div>
            {% if user %}
                <div class="LogIn RightHeader Header">
                    <a href="{{ url_for('log_out.index') }}"
                       class="button-73">התנתק</a>
                </div>
                <div class="LogIn RightHeader Header">
                    <a href="{{ url_for('change_details.index') }}"
                       class="button-73">שנה פרטי משתמש</a>
                </div>
                <br><br><br><br>
            {% else %}
                <div class="LogIn RightHeader Header">
                <button id="show-login" class="button-73">התחבר</button>
                <div class="popup">
                    <div class="close-btn">&times;</div>
                    <form class="form" name="login-form" id="login-form">
                        <h2>התחבר</h2>
                        <div class="form-element">
                            <label for="email-sign" class="email-form-element">
                                <span>אימייל</span>
                                <br>
                                <input type="email" id="email-sign" name="email-sign"
                                       placeholder="הכנס אימייל"
                                       required>
                                <br>
                                <span class="error" aria-live="polite"></span>
                                <br>
                            </label>
                        </div>
                        <div class="form-element">
                            <label for="password-sign">סיסמא</label>
                            <input type="password" id="password-sign" placeholder="הכנס סיסמא" required>
                        </div>
                        <br><br>
                        <div class="form-element">
                            <input type="submit" value="התחבר">
                        </div>
                        <br>
                        <button class="form-element" id="show-register">הירשם</button>
                    </form>
                </div>
                <div class="popup-register">
                    <div class="close-btn-register">&times;</div>
                    <form class="form" name="register-form" id="register-form">
                        {% set form_submit_value="הירשם" %}
                        {% set required="true" %}
                        <h2>הירשם</h2>
                        {% include 'register_form.html' %}
                    </form>
                </div>
            {% endif %}
            </div>
        </header>

        <div class="container-fluid">
            <div class="row max-height justify-content-center align-items-center">
                <div id="cart" class="cart">
                    <div class="cart-total-container d-flex justify-content-around text-capitalize mt-5">
                        <h5>סה"כ לתשלום</h5>
                        <h5> ₪ <strong id="cart-total" class="font-weight-bold">0</strong></h5>
                        <!-- cart buttons -->
                        <div class="cart-buttons-container mt-3 d-flex justify-content-between">
                            <i id="clear-cart" class="btn btn-outline-secondary btn-black text-uppercase"
                               onclick="return clearCart()">נקה עגלה</i>
                            <a href="{{ url_for('payment.index') }}" id="checkout-cart"
                               class="btn btn-outline-secondary text-uppercase btn-pink">צ'ק אאוט</a>
                        </div>
                        <!--end of  cart buttons -->
                        {% for product in products %}
                            <div class="cart-item d-flex justify-content-between text-capitalize my-3"
                                 id="{{ product.product_id }}">
                                <img src="{{ product.image_url }}" class="img-fluid rounded-circle" alt=""
                                     height="200px" width="200px">
                                <div class="item-text">
                                    <p class="font-weight-bold mb-0">{{ product.product_name }}</p>
                                    <span>₪</span>
                                    <span class="cart-item-price mb-0">{{ product.price }}</span>
                                </div>
                                <span id='cart-item-remove' class="cart-item-remove">
                        <i class="fas fa-trash"></i>
                    </span>
                            </div>
                        {% endfor %}
                    </div>
                    <!--end cart total -->
                    <!--  -->
                </div>
            </div>
        </div>
        {% set sub_headers =
    [{"ref": "homepage.index", "title": "דף הבית"},
    {"ref": "shop_info.index", "title": "אודות המספרה"},
    {"ref": "shop_services.index", "title": "שירותי המספרה וקטלוג העבודות"},
    {"ref": "shop_items.index", "title": "רכישת מוצרי טיפוח"},
    {"ref": "schedule.index", "title": "קביעת תור"}] %}
        <!-- Sub Headers -->
        <div class="SubHeaders">
            {% for sub_header in sub_headers %}
                <div class="SubHeader">
                    <a href="{{ url_for(sub_header.ref) }}">
                        <h3>{{ sub_header.title }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
        <br><br><br><br><br><br><br><br>
    {% endblock %}

    {# Main #}
    {% block page_body_main %}
        <main class="page-main">
            {% block page_body_main_content %}
            {% endblock %}
        </main>
    {% endblock %}

    {# Footer #}
    {% block page_body_footer %}

        <!-- Footers -->
        <footer class="Footers">
            <div class="LeftFooter">
                <a href="https://www.facebook.com/Seffi-The-Barber-103851772130539" target="_blank">
                    <img src="{{ url_for('static', filename='media/img/facebook_logo.png') }}" class="Clickable"
                         height="50px"
                         width="50px">
                </a>
            </div>
            <div class="LeftFooter">
                <a href="https://www.instagram.com/sefi__barbershop" target="_blank">
                    <img src="{{ url_for('static', filename='media/img/instagram_logo.jpeg') }}" class="Clickable"
                         height="50px"
                         width="50px"
                         alt="InstagramLogo">
                </a>
            </div>
            <div class="CentralFooter">
                <button>מדיניות פרטיות</button>
            </div>
            <div class="CentralFooter">
                <div class="CentralLeftFooter">
                    <button>תקנון האתר</button>
                </div>
            </div>
            <div class="CentralFooter">
                <div class="CentralRightFooter">
                    <a href="{{ url_for('contact_us.index') }}">
                        <img src="{{ url_for('static', filename='media/img/contact_us.png') }}" class="Clickable"
                             height="80px"
                             width="80px"
                             alt="ContactUs">
                    </a>
                </div>
            </div>
        </footer>
    {% endblock %}

{% endblock %}
</div>
>
{# JS #}
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
<script src="{{ url_for('static', filename='js/global_validations.js') }}"></script>
<script src="{{ url_for('static', filename='js/login-register.js') }}"></script>
{% if total_payment %}
    <script>
        alert("כרטיס האשראי שלך חויב ב {{ total_payment }} שקלים בהצלחה!")
    </script>
{% endif %}
{% if not_logged_access %}
    <script>
        alert('רק משתמשים מחוברים רשאים לגשת לדף הזה. אנא התחבר או הירשם')
    </script>
{% endif %}
{% block page_body_js %}{% endblock %}
</body>
